@{
    ViewData["Title"] = "Sobre";
}
<div class="row mt-4">
    <div class="col-12 col-md-4">
        <div class="row">
            <div class="col-12">
                <img class="rounded-circle w-50 ml-auto mr-auto d-block" src="~/images/gui.jpg" />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col-12">
                <h5 class="">Guilherme Augusto Granado</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-break">Projeto "myGameScore", de marcação e análise de pontos de basquete. Desenvolvido pela oportunidade de aprender e aprimorar conhecimentos.</p>
                <p class="text-break">Todos recursos utilizados: C# ASP.NET Core MVC, Entity Framework Core, SQL Server, Razor Page, HTML, Javascript, JQuery, bootstrap.</p>
            </div>
        </div>
    </div>
</div>
